


/**
 * Table of Contents
 *
* 1.0  External Resources
 * 1.1  Minified CSS
 * 1.2  Typography
 * 1.3  Iconography
* 2.0  Scrollbars
* 3.0  Custom Animations
* 4.0  HTML & Body
* 5.0   Navigation
 * 5.1  NavBar
 * 5.2  Navbar Brand
 * 5.3  Navbar Dropdown
 * 5.4  Navbar Toggle
* 6.0 Content
 * 6.1  MastHead
 * 6.2  ArrowDown
*  Content
 */


/* 1.0  External Resources*/
@import url("");

/* 1.1  Minified CSS*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/* 1.2  Typography*/

/* 1.21  Headings*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* 1.22  Body*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* 1.3  Iconography*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

/* 1.4  Animations*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");

/* 2.0  Scrollbars */
::-webkit-scrollbar              { /* 1 */ }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
::-webkit-scrollbar{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track{
  background:#12203B75;
}
::-webkit-scrollbar-thumb{
   background:#12203B65;
    aborder-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*temporary fixes to help build page*/
#portfolio {
   min-height:2000pt;
      padding-top:80pt;
}
#services {
   padding-top:80pt;
}
#design {
  background-color:#fff;
}


/* 3.0 Custom Animations*/

/* Shine */
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


/* Shimmer */

@-webkit-keyframes shimmer{
     0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shimmer{
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

/* PULSE */
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.9);
  }
}
.pulse {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    animation-name: pulse;
  transform: translateZ(0);
    animation-duration: 1.0s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}
.pulse:hover {
  animation-name: pulse;
  animation-duration: 1.0s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}


/* 4.0  HTML & Body */

html, body {
  height: 100%;
  font-family:  "Open Sans", sans-serif;
  letter-spacing: 0.15em;
  text-rendering: optimizeLegibility; 
}



/* 5.0  Navigation */

#fixednav{position:fixed;background:transparent;transition: all 0.05s ease;   padding:15pt;}

/* Navbar collapse remove border */
.navbar-default div.navbar-collapse {border-top: none;box-shadow: none;background-color:#f6f6f6}



/* 5.1  NavBar */

@media (max-width: 576px){.navbar-mobile-tiny {transform: translateY(-60px);transition-duration: 0.5s;}}

.nav-item .nav-link{font-weight:900;text-transform:uppercase;background:-webkit-linear-gradient(#999,#564312);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-image:linear-gradient(to right,#564312,#564312);margin:0 10px 0 0;position:relative}


.nav-item .nav-link:hover{background:-webkit-linear-gradient(#eee,#333);-webkit-background-clip:text;-webkit-text-fill-color:tfransparent;background-image:linear-gradient(to right,red,#f06d06)}

.nav-item .nav-link.active{animation:shimmer .5s ease-in-out;background:-webkit-linear-gradient(#eee,#333);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-image:linear-gradient(to right,red,#f06d06)}.nav-item .nav-link.active:hover{animation:shimmer .5s ease-in-out}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

.nav-item .nav-link{font-size:1.0em}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .nav-item .nav-link{font-size:0.8em;}}

@media (max-width: 768px){   
   .navbar-collapse{ background-color:transparent!important;}
}

.nav_shrunken{
abackground-color:#C9D9D8!important;
   background-color:white!important;
transition: all 1.0s ease;
border-radius: 2px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
   padding:15pt;
}



/* 5.2  Navbar Brand*/



/* Extra small devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { .navbar-brand {font-size: 1.0em!important;font-weight:900;transition: all 0.8s ease;} }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { .navbar-brand {font-size: 1.5em!important;font-weight:900;transition: all 0.8s ease;} }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { .navbar-brand {font-size: 2.0em!important;font-weight:900;transition: all 0.8s ease;} }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { .navbar-brand {font-size: 2.0em!important;font-weight:900;transition: all 0.8s ease;}}

.navbar-brand {
   font-weight:900;
   letter-spacing: 0.15em;
  afont-family: 'Raleway', serif;
      afont-family: 'Indie Flower', cursive;
   font-family:  "Open Sans", sans-serif;
  background-image: linear-gradient( to right, red, #f06d06);
  /* remove -webkit- to apply this to IE*/
  text-transform: uppercase;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-transition: 0.5s;
  transition: all 0.5s ease;
}

.nav_expanded .navbar-brand  {transition: all 0.5s ease;}

.nav_shrunken .navbar-brand  {
   font-size:1.0em!important;
   transition: all 0.5s ease;}


/* 5.3  Navbar Dropdown*/

/* This removes the dropdown icon */
.dropdown-toggle::after { display: none;}
.dropdown-menu {
  background-color: #f6f6f6;
  border: 0pt;
}
.dropdown-menu .dropdown-item {
  display: inline-block;
  width: 100%;
  background-color: #f6f6f6;
  font-size: 10pt;
}
.dropdown-menu .dropdown-item:hover {
  animation: shimmer .5s ease-in-out;
}
.dropdown-menu a {
  font-family: 'Raleway', serif;
  font-size: 1.0em;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( to right, red, #f06d06);
}
/* Needed to stop scrollbar showing on nav dropdown*/
.navbar-collapse.in {overflow-y: visible;}
/* 5.4  Navbar Toggle*/
/* Navbar Toggler Default */
.navbar-toggler{ color:#fb8401;}
/* Navbar Toggler Hover */
.navbar > .container .navbar-toggler:hover {  transform: scale(1.5);transition: all 0.5s ease;color:#fb8401;}

/* FIXED NAV */



/* Masthead*/ 


.masthead {
  padding-top:50pt;
  background-attachment:fixed;
  background-color:#444;
  abackground-image: url('https://images.unsplash.com/photo-1508873787497-1b513a18217a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); 
  abackground-image: url('https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260    ');   background-size: cover;
  abackground-image: url('https://images.pexels.com/photos/1445416/pexels-photo-1445416.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260');   
  background-image: url('https://cdn.shopify.com/s/files/1/0150/6262/files/19109-01-545-mobilev2_2000x.progressive.jpg?v=1559142535');
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
min-height:100vh;

}

.masthead .masthead-box .btn
{
  background:#F16A06;
  border-color:#F16A06;
}

.masthead h1 {
  font-family: 'Indie Flower', cursive;
  padding:120pt 0pt 20pt 0pt;
  text-rendering:optimizeLegibility;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  font-size:4.0em;
  margin: 0 auto;
  text-align: center;
  color: black;
  cursor: pointer;
}


#teammembers {
  padding:50pt;
  background-color:#AEE4E4;
}

#teammembers .card:hover{
  cursor:pointer; 
  background-color:orange;
}

#teammembers h1.aretroshadow {
     margin:0 auto;
  color: #2c2c2c;
  abackground-color: #d5d5d5;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 0px #d5d5d5, 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Indie Flower', cursive;
        align-items: center;
    text-align: center;
    padding:30pt;
}


#teammembers h1 {
  font-family: 'Indie Flower', cursive;
  padding:120pt 0pt 20pt 0pt;
  text-rendering:optimizeLegibility;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  font-size:3.0em;
  margin: 0 auto;
  text-align: center;
  color: black;
  cursor: pointer;
}

#teammembers h3 {
   font-size:2.0em;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 80%;
    padding-bottom:50pt;
   margin:0 auto;
}

#teammembers h3:before,
#teammembers h3:after {
    content: '';
    border-top: 2px solid;

}

.btn:hover
{
animation:shimmer .5s ease-in-out;
}